body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    /*
    background-image: url(media/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    */
    background-color: black;
    overflow-x: hidden;
}

img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

section {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
}


.page1 {
    /*    height: 130vh;*/
    background-image: url(/media/smm/p1_bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.p1_content {
    position: relative;
    color: white;
    padding-top: 25vw;
    margin-left: 5vw;
    width: 70%;
}

.p1_text1 > h1 {
    font-size: calc(18px + 31 * ((100vw - 320px) / (1280 - 320)));
    margin: 0;
    margin-bottom: 10px;
}

.p1_text1 > h1 > span {
    font-size: calc(25px + 44 * ((100vw - 320px) / (1280 - 320)));
}

.p1_text2 {
    font-size: calc(18px + 22 * ((100vw - 320px) / (1280 - 320)));
}

.p1_text2 > span {
    font-size: calc(16px + 19.5 * ((100vw - 320px) / (1280 - 320)));
}

.p1_social {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: calc(30px + 20 * ((100vw - 320px) / (1280 - 320)));
    align-items: center;
}

.p1_social > a > img {
    width: calc(30px + 20 * ((100vw - 320px) / (1280 - 320)));
}

.p1_social > a:not(:last-child) {
    margin-right: 20px;
}

.p1_social > a:nth-child(3) > img {
    width: calc(40px + 30 * ((100vw - 320px) / (1280 - 320)));
}

.p1_btn {
    position: relative;
    margin-top: calc(30px + 20 * ((100vw - 320px) / (1280 - 320)));
}

.p1_btn > a {
    color: white;
    font-size: calc(12px + 6 * ((100vw - 320px) / (1280 - 320)));
    border: 2px solid rgb(20, 122, 248);
    padding-top: calc(5px + 10 * ((100vw - 320px) / (1280 - 320)));
    padding-bottom: calc(5px + 10 * ((100vw - 320px) / (1280 - 320)));
    padding-left: calc(15px + 20 * ((100vw - 320px) / (1280 - 320)));
    padding-right: calc(15px + 20 * ((100vw - 320px) / (1280 - 320)));
    border-radius: 20px;
    transition: .3s;
}

.p1_btn > a:hover {
    box-shadow: 0px 0px 30px 10px rgb(20, 122, 248);
}


.p1_line {
    position: relative;
    width: 100%;
    border: 1px solid rgb(20, 122, 248);
    margin-top: calc(100px + 50 * ((100vw - 320px) / (1280 - 320)));
}

.p1_text3 {
    position: absolute;
    top: calc(-75px - 25 * ((100vw - 320px) / (1280 - 320)));
    left: 56%;
    font-size: calc(12px + 6 * ((100vw - 320px) / (1280 - 320)));
    color: white;
    text-align: center;
    border: 1px solid rgb(20, 122, 248);
    padding: 10px;
    border-radius: 20px;
}

.p1_text3 > span {
    color: rgb(20, 122, 248);
    font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
    font-weight: bold;
}

.p1_text4 {
    position: absolute;
    top: calc(-33px - 22 * ((100vw - 320px) / (1280 - 320)));
    right: 0px;
    font-size: calc(14px + 11 * ((100vw - 320px) / (1280 - 320)));
    color: white;
}

.p1l_progress {
    position: relative;
    height: 10px;
    width: 60%;
    background: rgb(20, 122, 248);
    animation: line 2s linear infinite;
}

@keyframes line {
    50% {
        opacity: 0;
    }

}



.page2 {
    /*    height: 130vh;*/
    background-image: url(/media/smm/p2_bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.p2_flex1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.p2f1_item:nth-child(1) {
    width: calc(100vw - 720 * ((100vw - 320px) / (1280 - 320)));
}

.p2f1_item:nth-child(2) {}

.p2f1_text {
    position: relative;
    display: flex;
    flex-direction: column;
}

.p2f1_text1 {
    position: relative;
    color: white;
    text-shadow: rgb(20, 122, 248) 1px 0 20px;
    font-size: calc(20px + 28 * ((100vw - 320px) / (1280 - 320)));
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.p2f1_text2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}

.p2f1_text2:nth-child(2) {
    margin-top: 40px;
}

.text2_img {
    position: relative;
    width: calc(20px + 20 * ((100vw - 320px) / (1280 - 320)));
    margin-left: 10px;
    margin-right: 20px;
}

.text2_text {
    position: relative;
    color: white;
    font-size: calc(14px + 11 * ((100vw - 320px) / (1280 - 320)));
}

.p2f1_btn {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.p2f1_btn > a {
    color: white;
    text-shadow: rgb(20, 122, 248) 1px 0 20px;
    font-size: calc(12px + 6 * ((100vw - 320px) / (1280 - 320)));
    border: none;
    padding-top: calc(5px + 10 * ((100vw - 320px) / (1280 - 320)));
    padding-bottom: calc(5px + 10 * ((100vw - 320px) / (1280 - 320)));
    padding-left: calc(15px + 20 * ((100vw - 320px) / (1280 - 320)));
    padding-right: calc(15px + 20 * ((100vw - 320px) / (1280 - 320)));
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
}

.p2f1_btn > a:nth-child(1) {
    background: rgba(17, 108, 220, 0.6);
}

.p2f1_btn > a:nth-child(1):hover {
    box-shadow: 0px 0px 30px 10px rgb(20, 122, 248);
}

.p2f1_btn > a:nth-child(2) {
    background: rgba(226, 227, 229, 0.6);
}

.p2f1_btn > a:nth-child(2):hover {
    box-shadow: 0px 0px 30px 10px rgb(226, 227, 229);
}

.p2_text1 {
    position: relative;
    padding-top: 40px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: calc(25px + 18 * ((100vw - 320px) / (1280 - 320)));
}

.p2_text1 > span {
    font-weight: bold;
    color: rgb(20, 142, 228);
    font-size: calc(30px + 38 * ((100vw - 320px) / (1280 - 320)));
}

.p2_pic1 {
    position: relative;
    width: 100%;
    margin-top: 60px;
}

.p2_table {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.p2_table > table {
    position: relative;
    width: 100%;
    text-align: left;
    color: white;
    border-spacing: 0px !important;
}

tbody {
    position: relative;
    width: 100%;
    height: 100%;
}

th {
    font-size: calc(15px + 10 * ((100vw - 320px) / (1280 - 320)));
    font-weight: normal;
    text-shadow: rgb(20, 122, 248) 1px 0 10px;
}

td {
    vertical-align: top !important;
    font-size: calc(10px + 4 * ((100vw - 320px) / (1280 - 320)));
    font-weight: bold;
    padding-bottom: 0;
}

td:nth-child(1) {
    font-size: calc(11px + 5 * ((100vw - 320px) / (1280 - 320)));
    font-weight: normal;
}

td:not(:last-child) {
    padding-right: 10px !important;
}

tr:not(:first-child) > td {
    padding-top: 20px;
}



.page3 {
    /*    height: 150vh;*/
    background-image: url(/media/smm/p3_bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.p3_text1 {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: calc(20px + 28 * ((100vw - 320px) / (1280 - 320)));
    padding-top: 50px;
    text-shadow: rgb(20, 122, 248) 1px 0 30px;
}

.p3_slider {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.p3_slider_track {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
}

.p3_slider_slide {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.splide__arrow {
    background: none !important;
    opacity: 1 !important;
    border: 2px solid rgb(20, 122, 248) !important;
    width: 4em !important;
    height: 4em !important;
}

.splide__arrow > svg > path {
    fill: rgb(20, 122, 248);
}

.splide__arrow svg {
    width: 2.2em !important;
    height: 2.2em !important;
}

.p3_slide_item:nth-child(1),
.p3_slide_item:nth-child(3) {
    position: relative;
    height: 700px;
    box-shadow: 0px 0px 30px 10px rgb(20, 122, 248);
    border-radius: 30px;
}

.p3_slide_item:nth-child(2) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p3_si_refresh {
    width: 200px;
}

.p3_si_text {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

.p3_si_brand {
    width: 100px;
    padding-top: 40px;
}



.p3_slider_phone {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.p3_slider_phone > .splide__pagination {
    bottom: -1.5em;
}

.p3_slider_phone_item {
    margin: 0 auto;
    position: relative;
    width: calc(250px + 200 * ((100vw - 320px) / (1280 - 320)));
    ;
}



.page4 {
    background-image: url(/media/smm/p4_bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.p4_flex {
    position: relative;
    width: 100%;
    padding-top: 50px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.p4_form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.p4_form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p4_form > div > input {
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 18px;
    font-size: calc(12px + 6 * ((100vw - 320px) / (1280 - 320)));
    box-shadow: 0px 0px 30px 10px rgb(20, 122, 248);
    font-family: 'Montserrat', sans-serif;
}

.p4_form > div > input:nth-child(1) {
    /*    width: calc(100px + 50 * ((100vw - 320px) / (1280 - 320)));*/
    width: 150px;
    margin-right: 20px;
}

.p4_form > div > input:nth-child(2) {
    /*    width: calc(270px + 10 * ((100vw - 320px) / (1280 - 320)));*/
    width: 250px;

}

.p4_form > button {
    width: 230px;
    position: relative;
    margin-top: 40px;
    background: rgba(17, 108, 220, 0.6);
    color: white;
    text-shadow: blue 1px 0 20px;
    font-size: calc(12px + 6 * ((100vw - 320px) / (1280 - 320)));
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    padding: 15px 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.p4_form > button:hover {
    box-shadow: 0px 0px 30px 10px rgb(20, 122, 248);
}

.p4_text1 {
    position: relative;
    font-size: calc(30px + 40 * ((100vw - 320px) / (1280 - 320)));
    color: white;
    font-weight: bold;
    text-align: center;
}

.p4_pic1 {
    position: absolute;
    right: 5%;
    top: 210px;
    width: 350px;
    z-index: 1;
}

.p4_pic2 {
    position: absolute;
    right: 370px;
    top: 180px;
    width: 220px;
    height: 170px;
    z-index: 1;
}

.p4_pic3 {
    position: absolute;
    right: 370px;
    top: 350px;
    width: 150px;
    height: 150px;
    z-index: 1;
}

.p4_text2 {
    position: relative;
    color: white;
    font-size: calc(12px + 6 * ((100vw - 320px) / (1280 - 320)));
    text-align: right;
    margin-top: calc(70px + 120 * ((100vw - 320px) / (1280 - 320)));
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / (1280 - 320)))
}

@media screen and (max-width: 767px) {
    .p1_content {
        width: 100%;
        margin-left: 0vw;
    }

    .p2_text1,
    .p2_pic1,
    .p2_table {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .p1_text3 {
        left: 0%;
    }

    .p1_text4 {
        right: 0%;
    }

    .p3_slider {
        display: none;
    }

    .p3_slider_phone {
        display: block;
        margin-top: 30px;
    }

    .p3_slider_phone > .splide__arrows {
        display: none;
    }

    .p4_flex {
        flex-direction: column;
    }

    .p4_text1 {
        margin-bottom: 40px;
    }

    .p4_form {
        position: relative;
        width: 90%;
        align-items: center;
    }

    .p4_form > div {
        flex-direction: column;
    }

    .p4_form > div > input:nth-child(1) {
        position: relative;
        margin-bottom: 20px;
        width: calc(200px + 100 * ((100vw - 320px) / (1280 - 320)));
        margin-right: 0;
    }

    .p4_form > div > input:nth-child(2) {
        position: relative;
        width: calc(200px + 100 * ((100vw - 320px) / (1280 - 320)));
        margin-right: 0;
    }
}

@media screen and (min-width: 991px) {
    .p3_slider {
        display: block;
    }

    .p3_slider_phone {
        display: none;
    }
}
